In [13]:
# Wolkus Project 
import pandas as pd

In [14]:
df = pd.read_csv("LWSum.csv")

In [15]:
Risk = []
data = pd.DataFrame(df)

In [16]:
data.head()

,deviceid,date,month,AVG(sampledata.TC),SUM(LW),AVG(PLV2),farmid,cropname
0,ZT1FC3FS,25-01-2021,1,15.797500,0,0.0,2CkGqcWtBndq5pHCh,Pomegranate
1,ZT1FC3FS,26-01-2021,1,12.386250,14,0.0,2CkGqcWtBndq5pHCh,Pomegranate
2,ZT1FC3FS,27-01-2021,1,11.767708,0,0.0,2CkGqcWtBndq5pHCh,Pomegranate
3,ZT1FC3FS,28-01-2021,1,13.056250,0,0.0,2CkGqcWtBndq5pHCh,Pomegranate
4,ZT1FC3FS,29-01-2021,1,11.803750,36,0.0,2CkGqcWtBndq5pHCh,Pomegranate

In [17]:
for (row,rowData) in data.iterrows():
    if int(rowData['AVG(sampledata.TC)']) < 5:
        Risk.append("Low")
    elif int(rowData['AVG(sampledata.TC)']) >= 5 and int(rowData['AVG(sampledata.TC)']) < 18 and int(rowData['SUM(LW)']) < 14:
        Risk.append("Low")
    elif int(rowData['AVG(sampledata.TC)']) >= 5 and int(rowData['AVG(sampledata.TC)']) < 18 and int(rowData['SUM(LW)']) >= 14:
        Risk.append("Medium")
    elif int(rowData['AVG(sampledata.TC)']) >= 18 and int(rowData['AVG(sampledata.TC)']) < 25 and int(rowData['SUM(LW)']) < 6:
        Risk.append("Low")
    elif int(rowData['AVG(sampledata.TC)']) >= 18 and int(rowData['AVG(sampledata.TC)']) < 25 and int(rowData['SUM(LW)']) >= 6 and int(rowData['SUM(LW)']) < 12:
        Risk.append("Medium")
    elif int(rowData['AVG(sampledata.TC)']) >= 18 and int(rowData['AVG(sampledata.TC)']) < 25 and int(rowData['SUM(LW)']) >= 12:
        Risk.append("High")
    elif int(rowData['AVG(sampledata.TC)']) >= 25 and int(rowData['AVG(sampledata.TC)']) < 30 and int(rowData['SUM(LW)']) < 10:
        Risk.append("Low")
    elif int(rowData['AVG(sampledata.TC)']) >= 25 and int(rowData['AVG(sampledata.TC)']) < 30 and int(rowData['SUM(LW)']) >= 14:
        Risk.append("Medium")
    elif int(rowData['AVG(sampledata.TC)']) >= 30:
        Risk.append("Low")

In [18]:
data['Risk'] = Risk

In [19]:
data.head()

,deviceid,date,month,AVG(sampledata.TC),SUM(LW),AVG(PLV2),farmid,cropname,Risk
0,ZT1FC3FS,25-01-2021,1,15.797500,0,0.0,2CkGqcWtBndq5pHCh,Pomegranate,Low
1,ZT1FC3FS,26-01-2021,1,12.386250,14,0.0,2CkGqcWtBndq5pHCh,Pomegranate,Medium
2,ZT1FC3FS,27-01-2021,1,11.767708,0,0.0,2CkGqcWtBndq5pHCh,Pomegranate,Low
3,ZT1FC3FS,28-01-2021,1,13.056250,0,0.0,2CkGqcWtBndq5pHCh,Pomegranate,Low
4,ZT1FC3FS,29-01-2021,1,11.803750,36,0.0,2CkGqcWtBndq5pHCh,Pomegranate,Medium

In [20]:
data.to_csv(r'Downloads\export.csv',index=None,header=True)

In [60]:
k = []
for i in range(13):
    count = 0
    for j in range(len(data)):
        k.append(i)
        count +=1
        if count == 10:
            count = 0
            break
while(len(k) != len(data)):
    k.pop()

In [61]:
print(k)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 12, 12, 12, 12, 12, 12, 12]

In [62]:
len(k)

127

In [63]:
data['col'] = k

In [64]:
data.to_csv(r'Downloads\export.csv',index=None,header=True)

In [65]:
df1 = pd.read_csv("new.csv")

In [66]:
riskwater = []
data1 = pd.DataFrame(df1)

In [80]:
for (row,rowData) in data1.iterrows():
    if int(rowData['AVG(temp.PLV2)']) >= 0.28 and  int(rowData['AVG(temp.PLV2)']) < 3:
        riskwater.append("Low")
    elif int(rowData['AVG(temp.PLV2)']) >= 3 and int(rowData['AVG(temp.PLV2)']) < 7:
        riskwater.append("Medium")
    elif int(rowData['AVG(temp.PLV2)']) >= 7 and int(rowData['AVG(temp.PLV2)']) < 25:
        riskwater.append("High")
    elif int(rowData['AVG(temp.PLV2)']) >= 25:
        riskwater.append("Low")
    elif int(rowData['AVG(temp.PLV2)']) >= 0:
        riskwater.append("Low")

In [81]:
data1['RiskWater'] = riskwater

In [85]:
risktemp = []

In [89]:
for (row,rowData) in data1.iterrows():
    if int(rowData['avg(temp.TC)']) < 5:
        risktemp.append("Low")
    elif int(rowData['avg(temp.TC)']) >= 5 and int(rowData['avg(temp.TC)']) < 18 and int(rowData['avg(temp.LW)']) < 14:
        risktemp.append("Low")
    elif int(rowData['avg(temp.TC)']) >= 5 and int(rowData['avg(temp.TC)']) < 18 and int(rowData['avg(temp.LW)']) >= 14:
        risktemp.append("Medium")
    elif int(rowData['avg(temp.TC)']) >= 18 and int(rowData['avg(temp.TC)']) < 25 and int(rowData['avg(temp.LW)']) < 6:
        risktemp.append("Low")
    elif int(rowData['avg(temp.TC)']) >= 18 and int(rowData['avg(temp.TC)']) < 25 and int(rowData['avg(temp.LW)']) >= 6 and int(rowData['avg(temp.LW)']) < 12:
        risktemp.append("Medium")
    elif int(rowData['avg(temp.TC)']) >= 18 and int(rowData['avg(temp.TC)']) < 25 and int(rowData['avg(temp.LW)']) >= 12:
        risktemp.append("High")
    elif int(rowData['avg(temp.TC)']) >= 25 and int(rowData['avg(temp.TC)']) < 30 and int(rowData['avg(temp.LW)']) < 10:
        risktemp.append("Low")
    elif int(rowData['avg(temp.TC)']) >= 25 and int(rowData['avg(temp.TC)']) < 30 and int(rowData['avg(temp.LW)']) >= 14:
        risktemp.append("Medium")
    elif int(rowData['avg(temp.TC)']) >= 30:
        risktemp.append("Low")

In [90]:
data1['Risktemp'] = risktemp

In [92]:
data1.head(13)

,deviceid,date,avg(temp.TC),avg(temp.LW),AVG(temp.PLV2),farmid,cropname,RiskWater,Risktemp
0,ZT1FC3FS,25-01-2021,14.059979,5.000000,0.000000,2CkGqcWtBndq5pHCh,Pomegranate,Low,Low
1,ZT1FC3FS,4/2/2021,16.993417,3.900000,0.000000,2CkGqcWtBndq5pHCh,Pomegranate,Low,Low
2,ZT1FC3FS,14-02-2021,19.144250,31.100000,0.000000,2CkGqcWtBndq5pHCh,Pomegranate,Low,High
3,ZT1FC3FS,24-02-2021,22.047625,6.300000,0.000000,2CkGqcWtBndq5pHCh,Pomegranate,Low,Medium
4,ZT1FC3FS,6/3/2021,23.744229,15.400000,0.000000,2CkGqcWtBndq5pHCh,Pomegranate,Low,High
5,ZT1FC3FS,16-03-2021,24.655208,34.600000,0.020830,2CkGqcWtBndq5pHCh,Pomegranate,Low,High
6,ZT1FC3FS,26-03-2021,27.184875,0.000000,0.000000,2CkGqcWtBndq5pHCh,Pomegranate,Low,Low
7,ZT1FC3FS,5/4/2021,29.355083,0.000000,0.000000,2CkGqcWtBndq5pHCh,Pomegranate,Low,Low
8,ZT1FC3FS,15-04-2021,29.500750,0.000000,0.000000,2CkGqcWtBndq5pHCh,Pomegranate,Low,Low
9,ZT1FC3FS,25-04-2021,30.132458,0.000000,0.000000,2CkGqcWtBndq5pHCh,Pomegranate,Low,Low
10,ZT1FC3FS,5/5/2021,32.358917,0.000000,0.008340,2CkGqcWtBndq5pHCh,Pomegranate,Low,Low
11,ZT1FC3FS,15-05-2021,30.546470,13.100000,0.004170,2CkGqcWtBndq5pHCh,Pomegranate,Low,Low
12,ZT1FC3FS,25-05-2021,29.421869,49.285714,0.291657,2CkGqcWtBndq5pHCh,Pomegranate,Low,Medium

In [93]:
spary = []

In [94]:
for (row,rowData) in data1.iterrows():
    if rowData['RiskWater'] == "Low" and rowData['Risktemp'] == "Low":
        spary.append("No")
    elif rowData['RiskWater'] == "Low" and rowData['Risktemp'] == "Medium":
        spary.append("No")
    elif rowData['RiskWater'] == "Low" and rowData['Risktemp'] == "High":
        spary.append("Yes")
    elif rowData['RiskWater'] == "Medium" and rowData['Risktemp'] == "Low":
        spary.append("No")
    elif rowData['RiskWater'] == "Medium" and rowData['Risktemp'] == "Medium":
        spary.append("Yes")
    elif rowData['RiskWater'] == "Medium" and rowData['Risktemp'] == "High":
        spary.append("Yes")
    elif rowData['RiskWater'] == "High" and rowData['Risktemp'] == "Low":
        spary.append("Yes")
    elif rowData['RiskWater'] == "High" and rowData['Risktemp'] == "Medium":
        spary.append("Yes")
    elif rowData['RiskWater'] == "High" and rowData['Risktemp'] == "High":
        spary.append("Yes")

In [95]:
data1['Spary'] = spary

In [96]:
data1.head(13)

,deviceid,date,avg(temp.TC),avg(temp.LW),AVG(temp.PLV2),farmid,cropname,RiskWater,Risktemp,Spary
0,ZT1FC3FS,25-01-2021,14.059979,5.000000,0.000000,2CkGqcWtBndq5pHCh,Pomegranate,Low,Low,No
1,ZT1FC3FS,4/2/2021,16.993417,3.900000,0.000000,2CkGqcWtBndq5pHCh,Pomegranate,Low,Low,No
2,ZT1FC3FS,14-02-2021,19.144250,31.100000,0.000000,2CkGqcWtBndq5pHCh,Pomegranate,Low,High,Yes
3,ZT1FC3FS,24-02-2021,22.047625,6.300000,0.000000,2CkGqcWtBndq5pHCh,Pomegranate,Low,Medium,No
4,ZT1FC3FS,6/3/2021,23.744229,15.400000,0.000000,2CkGqcWtBndq5pHCh,Pomegranate,Low,High,Yes
5,ZT1FC3FS,16-03-2021,24.655208,34.600000,0.020830,2CkGqcWtBndq5pHCh,Pomegranate,Low,High,Yes
6,ZT1FC3FS,26-03-2021,27.184875,0.000000,0.000000,2CkGqcWtBndq5pHCh,Pomegranate,Low,Low,No
7,ZT1FC3FS,5/4/2021,29.355083,0.000000,0.000000,2CkGqcWtBndq5pHCh,Pomegranate,Low,Low,No
8,ZT1FC3FS,15-04-2021,29.500750,0.000000,0.000000,2CkGqcWtBndq5pHCh,Pomegranate,Low,Low,No
9,ZT1FC3FS,25-04-2021,30.132458,0.000000,0.000000,2CkGqcWtBndq5pHCh,Pomegranate,Low,Low,No
10,ZT1FC3FS,5/5/2021,32.358917,0.000000,0.008340,2CkGqcWtBndq5pHCh,Pomegranate,Low,Low,No
11,ZT1FC3FS,15-05-2021,30.546470,13.100000,0.004170,2CkGqcWtBndq5pHCh,Pomegranate,Low,Low,No
12,ZT1FC3FS,25-05-2021,29.421869,49.285714,0.291657,2CkGqcWtBndq5pHCh,Pomegranate,Low,Medium,No

In [97]:
data.to_csv(r'Downloads\FinalAnswerofSpary.csv',index=None,header=True)