In [21]:
# Wolkus Project 
# import pandas library
import pandas as pd

In [23]:
# Reading LWSum file in which we take the Average of Temperature of 24 hours in a day and Sum of Leaf wetness of 24 hour
df = pd.read_csv("LWSum.csv")

In [24]:
Risk = []
data = pd.DataFrame(df)

In [25]:
data.head()

,deviceid,date,month,AVG(sampledata.TC),SUM(LW),AVG(PLV2),farmid,cropname
0,ZT1FC3FS,25-01-2021,1,15.797500,0,0.0,2CkGqcWtBndq5pHCh,Pomegranate
1,ZT1FC3FS,26-01-2021,1,12.386250,14,0.0,2CkGqcWtBndq5pHCh,Pomegranate
2,ZT1FC3FS,27-01-2021,1,11.767708,0,0.0,2CkGqcWtBndq5pHCh,Pomegranate
3,ZT1FC3FS,28-01-2021,1,13.056250,0,0.0,2CkGqcWtBndq5pHCh,Pomegranate
4,ZT1FC3FS,29-01-2021,1,11.803750,36,0.0,2CkGqcWtBndq5pHCh,Pomegranate

In [26]:
# Applying the condition of Table 1 from Docx file:

for (row,rowData) in data.iterrows():
    if int(rowData['AVG(sampledata.TC)']) < 5:
        Risk.append("Low")
    elif int(rowData['AVG(sampledata.TC)']) >= 5 and int(rowData['AVG(sampledata.TC)']) < 18 and int(rowData['SUM(LW)']) < 14:
        Risk.append("Low")
    elif int(rowData['AVG(sampledata.TC)']) >= 5 and int(rowData['AVG(sampledata.TC)']) < 18 and int(rowData['SUM(LW)']) >= 14:
        Risk.append("Medium")
    elif int(rowData['AVG(sampledata.TC)']) >= 18 and int(rowData['AVG(sampledata.TC)']) < 25 and int(rowData['SUM(LW)']) < 6:
        Risk.append("Low")
    elif int(rowData['AVG(sampledata.TC)']) >= 18 and int(rowData['AVG(sampledata.TC)']) < 25 and int(rowData['SUM(LW)']) >= 6 and int(rowData['SUM(LW)']) < 12:
        Risk.append("Medium")
    elif int(rowData['AVG(sampledata.TC)']) >= 18 and int(rowData['AVG(sampledata.TC)']) < 25 and int(rowData['SUM(LW)']) >= 12:
        Risk.append("High")
    elif int(rowData['AVG(sampledata.TC)']) >= 25 and int(rowData['AVG(sampledata.TC)']) < 30 and int(rowData['SUM(LW)']) < 10:
        Risk.append("Low")
    elif int(rowData['AVG(sampledata.TC)']) >= 25 and int(rowData['AVG(sampledata.TC)']) < 30 and int(rowData['SUM(LW)']) >= 14:
        Risk.append("Medium")
    elif int(rowData['AVG(sampledata.TC)']) >= 30:
        Risk.append("Low")

In [27]:
# Creating a new column Risk to see the risk after 24 hours 
data['Risk'] = Risk

In [28]:
data.head()

,deviceid,date,month,AVG(sampledata.TC),SUM(LW),AVG(PLV2),farmid,cropname,Risk
0,ZT1FC3FS,25-01-2021,1,15.797500,0,0.0,2CkGqcWtBndq5pHCh,Pomegranate,Low
1,ZT1FC3FS,26-01-2021,1,12.386250,14,0.0,2CkGqcWtBndq5pHCh,Pomegranate,Medium
2,ZT1FC3FS,27-01-2021,1,11.767708,0,0.0,2CkGqcWtBndq5pHCh,Pomegranate,Low
3,ZT1FC3FS,28-01-2021,1,13.056250,0,0.0,2CkGqcWtBndq5pHCh,Pomegranate,Low
4,ZT1FC3FS,29-01-2021,1,11.803750,36,0.0,2CkGqcWtBndq5pHCh,Pomegranate,Medium

In [30]:
data.to_csv('export1.csv',index=None,header=True)

In [58]:
# Reading a new csv file in which we create avearge of Rain Intensity of 10 days 
df1 = pd.read_csv("new.csv")

In [59]:
riskwater = []
data1 = pd.DataFrame(df1)

In [60]:
# Apply the condition of Table 2 from Docx file:

for (row,rowData) in data1.iterrows():
    if int(rowData['AVG(temp.PLV2)']) >= 0.28 and int(rowData['AVG(temp.PLV2)']) < 3:
        riskwater.append("Low")
    elif int(rowData['AVG(temp.PLV2)']) >= 3 and int(rowData['AVG(temp.PLV2)']) < 7:
         riskwater.append("Medium")
    elif int(rowData['AVG(temp.PLV2)']) >= 7 and int(rowData['AVG(temp.PLV2)']) < 25:
         riskwater.append("High")
    elif int(rowData['AVG(temp.PLV2)']) >= 25:
        riskwater.append("Low")
    else:
        riskwater.append("Low")

In [61]:
# creating a new column riskwater in which risk of plants due to Rain Intensity in 10 th day
data1['RiskWater'] = riskwater

In [62]:
data1.head()

,deviceid,date,avg(temp.TC),avg(temp.LW),AVG(temp.PLV2),farmid,cropname,RiskWater
0,ZT1FC3FS,25-01-2021,14.059979,5.0,0.0,2CkGqcWtBndq5pHCh,Pomegranate,Low
1,ZT1FC3FS,4/2/2021,16.993417,3.9,0.0,2CkGqcWtBndq5pHCh,Pomegranate,Low
2,ZT1FC3FS,14-02-2021,19.144250,31.1,0.0,2CkGqcWtBndq5pHCh,Pomegranate,Low
3,ZT1FC3FS,24-02-2021,22.047625,6.3,0.0,2CkGqcWtBndq5pHCh,Pomegranate,Low
4,ZT1FC3FS,6/3/2021,23.744229,15.4,0.0,2CkGqcWtBndq5pHCh,Pomegranate,Low

In [ ]:
# Applying the condition for Spray Scheduling

In [44]:
k = []
H = 0
L = 0
M = 0
count = 0
for i in data['Risk']:
    if(i == "Low"):
        L +=1
    elif(i == "Medium"):
        M +=1
    else:
        H +=1
    if(count <9):
        k.append(0)
        count +=1
    elif (count==9):
        count = 0
        if ((H <= 4) or (H <= 3 and M <= 2) or (H<=2 and M<=4) or (H<=1 and M<=6) or (H == 0 and M<=8)):
            k.append("No")
        else:
            k.append("Yes")
        L,H,M = 0,0,0

In [45]:
print(k)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 'No', 0, 0, 0, 0, 0, 0, 0, 0, 0, 'No', 0, 0, 0, 0, 0, 0, 0, 0, 0, 'Yes', 0, 0, 0, 0, 0, 0, 0, 0, 0, 'No', 0, 0, 0, 0, 0, 0, 0, 0, 0, 'No', 0, 0, 0, 0, 0, 0, 0, 0, 0, 'No', 0, 0, 0, 0, 0, 0, 0, 0, 0, 'No', 0, 0, 0, 0, 0, 0, 0, 0, 0, 'No', 0, 0, 0, 0, 0, 0, 0, 0, 0, 'No', 0, 0, 0, 0, 0, 0, 0, 0, 0, 'No', 0, 0, 0, 0, 0, 0, 0, 0, 0, 'No', 0, 0, 0, 0, 0, 0, 0, 0, 0, 'No', 0, 0, 0, 0, 0, 0, 0]

In [46]:
data['Spray'] = k

In [47]:
l = []
for i in k:
    if(i == 0):
        l.append(0)
    else:
        l.append('Low')

In [48]:
data['RiskLV2'] = l

In [49]:
print(l)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 'Low', 0, 0, 0, 0, 0, 0, 0, 0, 0, 'Low', 0, 0, 0, 0, 0, 0, 0, 0, 0, 'Low', 0, 0, 0, 0, 0, 0, 0, 0, 0, 'Low', 0, 0, 0, 0, 0, 0, 0, 0, 0, 'Low', 0, 0, 0, 0, 0, 0, 0, 0, 0, 'Low', 0, 0, 0, 0, 0, 0, 0, 0, 0, 'Low', 0, 0, 0, 0, 0, 0, 0, 0, 0, 'Low', 0, 0, 0, 0, 0, 0, 0, 0, 0, 'Low', 0, 0, 0, 0, 0, 0, 0, 0, 0, 'Low', 0, 0, 0, 0, 0, 0, 0, 0, 0, 'Low', 0, 0, 0, 0, 0, 0, 0, 0, 0, 'Low', 0, 0, 0, 0, 0, 0, 0]

In [50]:
# Final CSV file here show that Spray is work or not  
data.to_csv('FinalAnswerofSpary.csv',index=None,header=True)

In [52]:
data.head(20)

,deviceid,date,month,AVG(sampledata.TC),SUM(LW),AVG(PLV2),farmid,cropname,Risk,Spray,RiskLV2
0,ZT1FC3FS,25-01-2021,1,15.797500,0,0.0,2CkGqcWtBndq5pHCh,Pomegranate,Low,0,0
1,ZT1FC3FS,26-01-2021,1,12.386250,14,0.0,2CkGqcWtBndq5pHCh,Pomegranate,Medium,0,0
2,ZT1FC3FS,27-01-2021,1,11.767708,0,0.0,2CkGqcWtBndq5pHCh,Pomegranate,Low,0,0
3,ZT1FC3FS,28-01-2021,1,13.056250,0,0.0,2CkGqcWtBndq5pHCh,Pomegranate,Low,0,0
4,ZT1FC3FS,29-01-2021,1,11.803750,36,0.0,2CkGqcWtBndq5pHCh,Pomegranate,Medium,0,0
5,ZT1FC3FS,30-01-2021,1,12.098333,0,0.0,2CkGqcWtBndq5pHCh,Pomegranate,Low,0,0
6,ZT1FC3FS,31-01-2021,1,13.884167,0,0.0,2CkGqcWtBndq5pHCh,Pomegranate,Low,0,0
7,ZT1FC3FS,01-02-2021,2,15.496250,0,0.0,2CkGqcWtBndq5pHCh,Pomegranate,Low,0,0
8,ZT1FC3FS,02-02-2021,2,16.718333,0,0.0,2CkGqcWtBndq5pHCh,Pomegranate,Low,0,0
9,ZT1FC3FS,03-02-2021,2,17.591250,0,0.0,2CkGqcWtBndq5pHCh,Pomegranate,Low,No,Low
10,ZT1FC3FS,04-02-2021,2,18.457500,0,0.0,2CkGqcWtBndq5pHCh,Pomegranate,Low,0,0
11,ZT1FC3FS,05-02-2021,2,17.185417,0,0.0,2CkGqcWtBndq5pHCh,Pomegranate,Low,0,0
12,ZT1FC3FS,06-02-2021,2,14.406250,0,0.0,2CkGqcWtBndq5pHCh,Pomegranate,Low,0,0
13,ZT1FC3FS,07-02-2021,2,13.842500,31,0.0,2CkGqcWtBndq5pHCh,Pomegranate,Medium,0,0
14,ZT1FC3FS,08-02-2021,2,14.674583,4,0.0,2CkGqcWtBndq5pHCh,Pomegranate,Low,0,0
15,ZT1FC3FS,09-02-2021,2,16.657917,4,0.0,2CkGqcWtBndq5pHCh,Pomegranate,Low,0,0
16,ZT1FC3FS,10-02-2021,2,18.034583,0,0.0,2CkGqcWtBndq5pHCh,Pomegranate,Low,0,0
17,ZT1FC3FS,11-02-2021,2,18.383750,0,0.0,2CkGqcWtBndq5pHCh,Pomegranate,Low,0,0
18,ZT1FC3FS,12-02-2021,2,18.779583,0,0.0,2CkGqcWtBndq5pHCh,Pomegranate,Low,0,0
19,ZT1FC3FS,13-02-2021,2,19.512083,0,0.0,2CkGqcWtBndq5pHCh,Pomegranate,Low,No,Low